<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WebCampBackendNew</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<h1>Books</h1>
	<table>
	　<thead>
	　　<tr>
		 <th>Title</th>
		 <th>Body</th>
		 <th></th>
	　　</tr>
      </thead>
      <tbody>
	   <tr>	<% @books.each do |book| %>
	    <td><%= book.title %></td>
	    <td><%= book.body %></td>
	    <span class="show">
	    <td><%= link_to "Show",book_path(book.id)%>  <%= link_to "Edit",edit_book_path(book.id) %>  <%= link_to "Destroy",book_path(book.id), method: :delete %></td></span>
	   </tr>
	   <%end%>
	</tbody>
	</table>

	<div class="newbook">
		<h2>New book</h2>
		<%= form_for(@book,url: '/books') do |f| %>
		<p>Title</p>
		<%= f.text_field :title %>
		<p>Body</p>
		<%= f.text_area :body %><br>
		<%= f.submit "Create Book" %>
		<% end %>
	</div>
</body>
</html>