   <% if flash[:notice] %>
     <div class="flash">
       <%= flash[:notice] %>
     </div>
   <% end %>
    <h5><strong>Title:</strong></h5>
    <p><%= @book.title %></p>
    <h5><strong>Body:</strong></h5>
    <p><%= @book.body %></p>
    <%= link_to "Edit", edit_book_path(@book) %> |
    <%= link_to "Back", books_path %>

